.packageCard{
    width: 300px;
    height: auto;
    transition-duration: 0.1s;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
}

.packageCard:hover{
    background-color: #D8D8D8;
    transition-duration: 0.1s;
    cursor: pointer;
}

.packageDescription{
    margin-top: -4px;

    padding: 6px;
}

.image{
    width: 100%;
    height: auto;
}

.creatorIcon{
    width: 30px;
    height: 30px;

    border: solid;
    border-radius: 100%;
    border-width: 1px;
    padding: 2px;
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    gap: 10px;

    margin-top: 3px;
    margin-bottom: 5px;
}

.price{
    margin-top: 5px;
    margin-bottom: 5px;
}

.price b{
    color: #e61226;;
}

a{
    text-decoration: none;
    color: black;
}