html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;

    margin: 0px;
    padding: 0px;

    background-color: #ededed;
}

h1, h2, h3, h4, h5, p, b, i, a, td, button, label, span{
    margin: 0px;
    font-family: arial;
}

.root{
    height: 100%;
    width: 100%;
}
