<div class="accountinformation">
    <div class="photo flex">
        <span>Photo</span>
        <div class="image"></div>
        <div class="add">
            <button class="add-button">Add</button>
        </div>
    </div>
    <div class="information flex">
        <span>Name</span>
        <span class="text">Insert name</span>
        <div class="add">
            <button class="add-button">Change</button>
        </div>
    </div>
    <div class="information flex">
        <span>Password</span>
        <div class="add">
            <button class="add-button">Change</button>
        </div>
    </div>
    <div class="information flex">
        <span>Email</span>
        <span class="text">Insert email</span>
    </div>
    <div class="language flex">
        <span>Language</span>
        <span class="language-text">Insert language</span>
    </div>
</div>